body {
  padding: 0;
  margin: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .bg {
    $blur: 10;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: -#{$blur}px;
    bottom: -#{$blur}px;
    left: -#{$blur}px;
    right: -#{$blur}px;
    filter: blur(#{$blur}px);
  }
}

#canvas {
  height: 448px;
  width: 512px;
  position: relative;
  margin: 0 auto;

  img {
    position: absolute;
    left: 0;
  }
}

#fire {
  display: none;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../img/fire.png");
  width: 24px;
  height: 28px;
  position: absolute;
  right: 209px;
  bottom: 47px;
  z-index: 10;

  &.next {
    background-position: right;
  }

}

.seagull {
  position: fixed;
  z-index: 10;
  background-image: url("/img/seagull.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";